.Button {
  height: auto;
  width: auto;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 1em;
  color: var(--main-text-color);
  border: 1px solid var(--secondary-border-color);
  background: var(--light-bg-color);
  transition: color 0.1s ease-out, background 0.2s ease;
  cursor: pointer;
  text-transform: uppercase;
}

.Button:hover {
  color: var(--main-border-color);
  background: var(--main-bg-color);
  box-shadow: var(--main-box-shadow);
}