.Dropdown {
  width: fit-content;
  position: relative;
  user-select: none;
}

.Dropdown.start .wrapper {
  justify-content: flex-start;
}

.Dropdown.end .wrapper {
  justify-content: flex-end;
}

.Dropdown .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 12px;
}

.Dropdown .wrapper .menu {
  flex-shrink: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
  border: 1px solid var(--secondary-border-color);
  border-radius: 4px;
  list-style: none;
  background: var(--light-bg-color);
  box-sizing: content-box;
  box-shadow: var(--main-box-shadow);
  opacity: 0;
  animation: dropdown-menu-unfold ease 0.4s forwards;
}

@keyframes dropdown-menu-unfold {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Dropdown .DropdownGroup:first-of-type {
  margin-top: 0;
}

.DropdownItem {
  width: 100%;
  min-width: 90px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 24px;
  box-sizing: border-box;
  color: var(--secondary-text-color);
}

.DropdownItem:hover {
  color: var(--main-text-color);
}

.DropdownGroup {
  text-transform: uppercase;
  font-size: 10px;
  padding: 2px 24px;
  margin-top: 12px;
}
