.PlaylistHead {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.PlaylistHead img {
  margin-right: 24px;
  height: 180px;
  width: 180px;
  background-color: var(--dark-bg-color);
  border: none;
  animation: head-fade-in ease-out 0.4s forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

.PlaylistHead .content {
  animation: head-fade-in ease-out 0.4s forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.PlaylistHead .content p {
  margin: 0;
  color: var(--secondary-text-color);
  margin-bottom: 6px;
}

.PlaylistHead .content .input-group {
  display: flex;
  margin: 6px 0;
}

.PlaylistHead .content .input-group input {
  background: none;
  border: none;
  font-family: "Lato", sans-serif;
  width: auto;
  padding: 0;
}

.PlaylistHead .content label {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.PlaylistHead .content #title {
  color: var(--main-text-color);
  font-size: 2rem;
}

.PlaylistHead .content #description {
  color: var(--secondary-text-color);
  font-size: 1em;
}

.PlaylistHead .content span {
  margin: 0;
  font-size: 0.875em;
  color: var(--secondary-text-color);
}

.PlaylistHead .content .options {
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  color: var(--secondary-text-color);
}

.PlaylistHead .content .options .material-icons {
  font-size: 28px !important;
}

@keyframes head-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 960px) {
  .PlaylistHead {
    margin-top: 12px;
  }
}