.Reccomendations {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  padding-left: 140px;
  box-sizing: border-box;
  border-top: 1px solid var(--secondary-border-color);
  background: var(--main-bg-color);
  position: absolute;
  bottom: 0;
}

.Reccomendations h2 {
  font-size: 18px;
  box-sizing: border-box;
}

.Reccomendations h2 a {
  color: var(--highlight-text-color);
}

.Reccomendations h2 span {
  font-size: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 24px;
  margin-top: -4px;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.wrapper .view {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.next {
  width: 120px;
  height: 48px;
  font-size: 32px;
  text-align: center;
}
